*.class

# Package Files #
*.jar
*.war
*.ear

#ignore log files
*.log
*.log.*

#ignore build folders
mathmlcaneval-backend/target
mathmlcaneval-frontend/target

#ignore nb files
nb-configuration.xml
/target/

#ignore eclipse files
.settings/
.project
git.properties