<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   		http://www.springframework.org/schema/beans/spring-beans.xsd
	   		http://www.springframework.org/schema/context
	   		http://www.springframework.org/schema/context/spring-context.xsd
			http://www.springframework.org/schema/mvc 
			http://www.springframework.org/schema/mvc/spring-mvc.xsd 
                        http://www.springframework.org/schema/util
                        http://www.springframework.org/schema/util/spring-util.xsd"
>
                                                        
    <context:component-scan base-package="cz.muni.fi.mir" />

    <!-- the mvc resources tag does the magic -->
    <mvc:resources mapping="/resources/**" location="/resources/" />
  
    <import resource="classpath*:/spring/applicationContext.xml" />
    
    <bean id="gitProperties" class="cz.muni.fi.mir.tools.GitPropertiesModel"
          p:branch="${git.branch}" 
          p:describe="${git.commit.id.describe}"
          p:commitId="${git.commit.id}"
          p:commitIdAbbrev="${git.commit.id.abbrev}"
          p:commitTime="${git.commit.time}"
          p:buildTime="${git.build.time}"
          p:buildUserName="${git.build.user.name}"
          p:buildUserEmail="${git.build.user.email}"
          p:commitMessageFull="${git.commit.message.full}"
          p:commitMessageShort="${git.commit.message.short}"
          p:commitUserName="${git.commit.user.name}"
          p:commitUserEmail="${git.commit.user.email}"
    />
     
    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource"
          p:defaultEncoding="UTF-8"
          p:useCodeAsDefaultMessage="true"
          p:basenames="classpath:i18n/messages,classpath:i18n/validator"
    />
    
    <bean id="tilesConfigurer" class="org.springframework.web.servlet.view.tiles3.TilesConfigurer"
          p:definitions="/WEB-INF/tiles-configuration.xml"
    />    
    
    <!--    http://stackoverflow.com/a/9401900 -->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**" />
            <bean id="localeChangeInterceptor" 
                  class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor"
                  p:paramName="lang"
            />
        </mvc:interceptor>
        
        <mvc:interceptor>
            <mvc:mapping path="/**" />
            <bean id="customInterceptor" 
                  class="cz.muni.fi.mir.tools.CustomPageInterceptor" 
            />
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/**" />
            <bean id="siteTitleInterceptor"
                class="cz.muni.fi.mir.tools.SiteTitleInterceptor"
                p:i18nEnabled="true"
                p:messageSource-ref="messageSource"
            />
        </mvc:interceptor>
    </mvc:interceptors>
   
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"
          p:maxUploadSize="2000000000"
    />
    
    <bean id="localeResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver"
          p:defaultLocale="en"
    />
    
    <bean id="handlerMapping" class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping" />
    
    <bean id="userServiceProvider" class="cz.muni.fi.mir.tools.UserServiceProvider" />
    
    <bean id="mapper" class="org.dozer.DozerBeanMapper">
        <property name="mappingFiles">
            <list>
                <value>config/dozer-mapping.xml</value>
            </list>
        </property>
    </bean>
    
    <bean name="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean"
          p:validationMessageSource-ref="messageSource"
    />   
    
    <bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters">
            <list>
                <bean class="cz.muni.fi.mir.convertors.StringToProgramForm"/>
                <bean class="cz.muni.fi.mir.convertors.StringToElementForm"/>
                <bean class="cz.muni.fi.mir.convertors.StringToProgramForm"/>
                <bean class="cz.muni.fi.mir.convertors.StringToSourceDocumentForm"/>
                <bean class="cz.muni.fi.mir.convertors.StringToUserRoleForm"/>
                <bean class="cz.muni.fi.mir.convertors.StringToRevisionForm"/>
                <bean class="cz.muni.fi.mir.convertors.StringToConfigurationForm"/>
                <bean class="cz.muni.fi.mir.convertors.StringToApplicationRunForm" />
            </list>
        </property>
    </bean>
    <mvc:annotation-driven validator="validator" conversion-service="conversionService" enable-matrix-variables="true" />    

    <!-- might not work everytime: https://en.wikipedia.org/wiki/HTTP_referer#Referer_hiding -->
    <bean id="authenticationSuccessHandler" class="org.springframework.security.web.authentication.SavedRequestAwareAuthenticationSuccessHandler"
          p:useReferer="true"
    />
</beans>
