<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:p="http://www.springframework.org/schema/p" 
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                            http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/context 
                            http://www.springframework.org/schema/context/spring-context.xsd
                            http://www.springframework.org/schema/util 
                            http://www.springframework.org/schema/util/spring-util.xsd"
>
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
        p:dataSource-ref="dataSource"
    >
        <property name="persistenceUnitName" value="mathcaneval" />
        <property name="jpaProperties">
            <props>
                <prop key="hibernate.dialect">${hibernate.dialect}</prop>
                <prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
                <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
                <prop key="hibernate.format_sql">${hibernate.format_sql}</prop>
                <prop key="hibernate.jdbc.batch_size">${hibernate.jdbc.batch_size}</prop>
                <prop key="hibernate.cache.region.factory_class">${hibernate.cache.region.factory_class}</prop> 
                <prop key="hibernate.cache.provider_class">${hibernate.cache.provider_class}</prop> 
                <prop key="hibernate.cache.use_second_level_cache">${hibernate.cache.use_second_level_cache}</prop>  
                <prop key="hibernate.cache.use_query_cache">${hibernate.cache.use_query_cache}</prop>  
                <prop key="hibernate.search.default.indexBase">${hibernate.search.default.indexBase}</prop>                  
                <prop key="hibernate.search.default.directory_provider">${hibernate.search.default.directory_provider}</prop>
                <prop key="hibernate.search.lucene_version">${hibernate.search.lucene_version}</prop>
            </props>
        </property>
    </bean> 
    
    
    
    <!-- our factories -->
    
    <bean 
        id="longRunningTaskFactory" 
        class="cz.muni.fi.mir.scheduling.LongRunningTaskFactory"
    >
        <lookup-method 
            name="createTask" 
            bean="canonicalizationTask" 
        />
        <lookup-method 
            name="createImportTask" 
            bean="formulaImportTask" 
        />
    </bean> 
    
    <bean
        id="documentBuilderFactory"
        class="javax.xml.parsers.DocumentBuilderFactory"
        factory-method="newInstance"
    /> 
    
    <bean 
        id="xmlEventFactory"
        class="javax.xml.stream.XMLEventFactory"
        factory-method="newFactory"
    />
    
    <bean
        id="xmlInputFactory"
        class="javax.xml.stream.XMLInputFactory"
        factory-method="newFactory"
    />
    
    <bean
        id="xmlOutputFactory"
        class="javax.xml.stream.XMLOutputFactory"
        factory-method="newFactory"
    />
</beans>