/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 29, 2014, 4:54:33 PM
    Author     : Empt
*/


.content
{
    margin-top: 53px !important;
}

.pull-top-50
{
    margin-top: 50px;
}

.search-bar
{
    width: 750px;
}

.center-text
{
    text-align: center;
}

.space-bottom-10
{
    margin-bottom: 10px;
}

.userRoleTemplate
{
    display: none;
}

.custom-label
{
    font-weight: bold;
    margin-bottom: 15px;
}

.blocks a
{
    text-decoration: none;
}

.preview
{
/*    width: 200px;*/
    height: 50px;
    overflow: hidden;
    color: black;
}

.preview a
{
    text-decoration: none;
}

.hashtag
{
    font-weight: bolder;
    background-color: khaki;
}

.annotation-note-cell
{
    padding-left: 10px;
}

footer
{
    margin-bottom: 25px;
}

.disable-top-margin
{
    margin-top: 0px;
}

.modal-lg
{
    width: 800px;
}

.form-control-checkbox
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.2); /* IE */
  -moz-transform: scale(1.2); /* FF */
  -webkit-transform: scale(1.2); /* Safari and Chrome */
  -o-transform: scale(1.2); /* Opera */
}

/* default override */
.img-thumbnail
{
    margin-top: 1px;
    margin-bottom: 1px;
}

.formula-delete-checked
{
    border-color: black;
    border-width: 2px;
}